@model CustomerViewModel

<br />
<table generic
       class="table table-striped"
       table-heads='
       ["Id","Name","Gender"]'
       items="@Model.CustomerList"
       attributes-table='{
            class:"table"
       }'
       page-action="Index"
       page-controller="Table"
       active-panel="true"
       current-page="@Model.CurrentPage"></table>