@model CustomerViewModel

<br />

<table-panel active-panel-body="true" 
             active-panel-heading="true"
             panel-body-html-content="<h1 class='text-center'>Customers from Game of Thrones</h1>"
             panel-heading-html-content="<h1 class='text-center'>Customers</h1>">
    <table generic table-heads='["Id","Name","Gender"]'
           class="table table-striped"
           items="@Model.CustomerList"
           active-pagination="true"
           current-page="@Model.CurrentPage">

    </table>
</table-panel>

<table generic
       class="table table-striped"
       table-heads='
       ["Id","Name","Gender"]'
       items="@Model.CustomerList"
      
       active-pagination="true"
       page-action="Index"
       page-controller="Table"
       current-page="@Model.CurrentPage"></table>