@model CustomerViewModel

<br />

<table generic
       class="panel panel-primary"
       table-heads='["Name","Gender","Edit"]'
       items="@Model.CustomerList"
       item-per-page="5"
       active-pagination="true"
       current-page="@Model.CurrentPage"
       panel-title="Customer"
       table-primary-key="Id"
       table-columns="6"
       table-hidden-columns='["Id"]'
       table-show-index="true"
       table-content='{
            1:{
                2:" Hello world"
            },
            50:{
                4:"Fuck you"
            }
       }'
       table-all-column-content='{
            4:[
                [{label:"Test4"}],
                [{input:""},{newbox:"textbox"},{class:"form-control"}],
                [{button:"submit"},{class:"btn btn-primary text-center"}]
              ],
            5:[
                [{label:"Test5"}],
                [{input:""},{newbox_:"select"},{newbox_:"form-control"},
                 {1:"Bronze"},{2:"Silver"},{3:"Gold"},{4:"Patiumn"}],
                [{a:"Submit"},{Index:"Home"},{class:"btn btn-primary"}]
              ]
       }'></table>