@model CustomerViewModel

<br />


<table generic
       items="@Model.CustomerList"></table>

<table generic
       class="panel panel-primary"
       table-heads='["Name","Gender","Edit","Select1","Select2"]'
       items="@Model.CustomerList"
       item-per-page="5"
       active-pagination="true"
       current-page="@Model.CurrentPage"
       table-primary-key="Id"
       table-hidden-columns='["Id"]'
       table-cols-number="6"
       table-show-index="true"
       active-panel="true"
       active-panel-heading="true"
       active-panel-body="true"
       panel-heading-content="Customer"
       panel-body-content="Hello"

       table-append-html-rows-cols='{
            1:[
                {2:"hello"},
                {3:" Winter is coming"},
              ],
            50:[
                {3:"God of war"},
                {2:"Stark"}
            ],
      }'
       table-append-tags-rows-cols='{
            10:[
                {
                  2:[
                        [{label:"tag"}],
                        [{input:""},{Id:"textbox_"},{class:"form-control"}],
                        [{button:"submit_"},{class:"btn btn-primary text-center"}]
                    ]
                },{
                  3:[
                        [{label:"Jon Snow_"}],
                        [{input:""}]
                    ]
                }
               ],
       }'

       table-append-html-cols='{
            2:"World",
       }'

       table-append-tags-cols='{
            4:[
                [{label:"Test_"},{for:"textbox_"}],
                [{input:""},{Id:"textbox_"},{class:"form-control"},{value:"Hello_"}],
                [{button:"submit_"},{class:"btn btn-primary text-center"}]
              ],
            5:[
                [{label:"select_"}],
                [{select:""},{type:"select"},{class:"form-control"},{Id:"select_"},
                 {1:"Bronze"},{2:"Silver"},{3:"Gold"},{4:"Patiumn"}],
                [{a:"link"},{Index:"Home"},{Id:"hello_"}]
              ]
       }'></table>