@model CustomerViewModel

<table generic
       table-heads='
       ["Id","Name","Gender"]'
       items="@Model.CustomerList"

       attributes-table='{
            class:"table"
       }'
       current-page="@Model.CurrentPage"
       >
</table>