@model CustomerViewModel

<br />



<table generic
       class="panel panel-primary"
       table-heads='
       ["Id","Name","Gender"]'
       items="@Model.CustomerList"
       active-pagination="true"

       attributes-table='{
            class:"table table-danger"
       }'
       item-per-page="2"
       page-query-list='{
            page:"1",
            query:"2"
       }'

       panel-title="Customer"
       panel-content="Customer from Game of Thrones"

       current-page="@Model.CurrentPage"></table>