@model CustomerViewModel

<br />

<table generic
       class="panel panel-primary"
       table-heads='["Id","Name","Gender"]'
       items="@Model.CustomerList"
       item-per-page="10"
       panel-title="Customer"
       table-columns="5"
       table-content='{
            1:{
                3:""
            }
       }'
    ></table>