@model FormViewModel

<br />

<form generic form-model="@Model" asp-validation-summary="All"
      form-title="<h1>Form Title</h1>"
      select-data-list='{
        selectlist:{
            1:"Bronze",
            2:"Silver",
            3:"Gold",
            4:"Patiunm"
        },
        selectlist2:{
            1:"Bronze2",
            2:"Silver2",
            3:"Gold2",
            4:"Patiunm2"
        }
      }'

      radio-button-data-list='{
        selectradio:{
            1:"male",
            2:"female"
        }
      }'

      check-box-data-list="{
        checkbox:{
            1:'hello',
            2:'world'
        }
      }"

      attrs-global-tags="{
        validation:{
            style:'color:red;'
        },
        title:{
            style:'color:red;'
        }
      }"
      attrs-local-tag="{
        selectradio:{
            span1:{style:'margin-right:5px;'},
            span2:{style:'margin-right:5px;'},
            input1:{style:'margin-right:5px;'}
        },
        selectlist2:{
            option3:{style:'color:red;'}
        }
      }"
      method="post"
      asp-action="CreateGenericForm"
      asp-antiforgery="true">
    <input class="btn btn-primary" type="submit" value="Sumit" />
    <a class="btn btn-danger" asp-action="Index" asp-controller="Home">
        Cancel
    </a>
</form>

@section scripts{
    <script>
        CKEDITOR.replace("TextArea");
    </script>
}