@model FormViewModel

<br />

<form generic form-model="@Model" asp-validation-summary="All"
      form-title="<h1>Form Title</h1>"
      select-data-list="{
        selectlist:{
            0:'None',
            1:'Bronze',
            2:'Silver',
            3:'Gold',
            4:'Patiunm'
        },
        selectlist2:{
            1:'Bronze2',
            2:'Silver2',
            3:'Gold2',
            4:'Patiunm2'
        }
      }"
      radio-button-data-list="{
        selectradio:{
            3:'male',
            2:'female'
        }
      }"
      checkbox-data-list="{
        checkbox:{
            'hello': 'true',
            'world' : 'true'
        }
      }"
      attrs-tag="{
        label:{style:'color:blue;'}
      }"
      checkbox-top="true"
      content-tag-of-prop="{
        id:{
            label:' hello',
            input:'fuck me',
            validation:'hello'
        },
        LevelSelectList:{
            option_1:'hello',
            option_2:'world'
        },
        checkbox:{
            label:'this is checkbox default'
        }

      }"
      attrs-tag-of-prop="{
       id:{
            label:{class:'form-control'},
            input:{style:'border-color:red;'},
            validation:{ style:'color:green;'}
       },
       levelselectlist:{
            option_2:{style:'color:red;'}
       },
       selectList:{
            option_4:{ style:'color:blue;'}
       },
        selectradio:{
            label_1:{
               style:'color:red;'
            },
            label_2:{
                style:'color:pink;'
            }
        }
      }"
      method="post"
      asp-action="CreateGenericForm"
      asp-antiforgery="true">
    <input class="btn btn-primary" type="submit" value="Sumit" />
    <a class="btn btn-danger" asp-action="Index" asp-controller="Home">
        Cancel
    </a>
</form>

@section scripts{
    <script>
        CKEDITOR.replace("TextArea");
    </script>
}