@model FormModel

<br />
<form generic form-model="@Model"
      form-title="<h3>FormModel</h3>"
      class-input='{
      checkbox:"form-control ",
      checkbox:"",
      }' 
      attributes-input='{
        selectradio:{
            "class":"hello",
            style:"margin-left:10px;"
        }
      }'
      radio-button-data-list='{
        selectradio:{
            1:"male",
            2:"female"
        }
      }'
      attributes-radio-btn-value='{
        selectradio:{
            style:"margin-left:10px;"
        }
      }'
      radio-top="true"
      method="post"
      cancel-link-return-action="Index"
      cancel-link-return-controller="Home"
     
      asp-action="CreateGenericForm"
      asp-antiforgery="true"></form>


