@model Customer

<br />
<form generic form-model="@Model"
      form-title="<h3>Customer</h3>"
      class-input='{
      isadmin:" ",
      isadmin:""
      }'
      attributes-input='{
        isadmin:{
            isadmin:"input",
            harry:"potter"
        },
        id:{
            comeon:"cj fool"
        }
      }'
      attributes-form-group='{
        isadmin:{
            isadmin:"form group"
        },
        id:{
            asshole:"my shit"
        }
      }'
      attributes-label='{
        isadmin:{
            isadmin:"label"
        }
      }'
      attributes-span='{
        isadmin:{
            isadmin:"span"
        }
      }'
      method="post"
      complex-models='["Addresses","Gender"]'
      load-complex-model="Addresses"
      load-complex-model1="Gender"

      asp-action="CreateGenericForm"
      asp-antiforgery="true"></form>


