@model FormViewModel

<br />

<form generic form-model="@Model" asp-validation-summary="All"
      form-title="<h1>Form Title</h1>"
      select-data-list="{
        selectlist:{
            0:'None',
            1:'Bronze',
            2:'Silver',
            3:'Gold',
            4:'Patiunm'
        },
        selectlist2:{
            1:'Bronze2',
            2:'Silver2',
            3:'Gold2',
            4:'Patiunm2'
        }
      }"
      radio-button-data-list="{
        selectradio:{
            1:'male',
            2:'female'
        }
      }"
      checkbox-data-list="{
        checkbox:{
            'hello': 'true',
            'world': 'false'
        }
      }"
      checkbox-cols-list="true"
      radio-cols-list="true"
      checkbox-top="true"
      attrs-global-tags="{
      validation_group:{
        style:'list-style-type:none;color:green;'
        },
        validation:{
            style:'color:red;'
        },
        title:{
            style:'color:red;'
        },
        label:{
            style:'color:red;'
        },
        radio_label:{
            style:'margin-left:5px;'
        },
        select_input:{
            style:'color:red;'
        },
        checkbox_label:{
            style:'font-weight:normal'
        },
        checkbox_input:{
            style:'margin-left:5px;'
        },
        checkbox_group:{
            style:'margin-left:10px;'
        },
        radio_group:{
            style:'margin-left:10px;'
        },
        cols_list_group:{id:'eeee'}
      }"
      attrs-local-tag="{
        checkbox:{
            div_1:{id:'hello'},
            cols_list_group_1:{id:'world'},
            checkbox_group:{id:'aaa'}
        },
        selectlist:{
            label:{style:'color:gray;'},
            select_input:{style:'border-color:green;'},
            option_1:{style:'color:blue;'},
            option_2:{style:'color:green;'},
            option_3:{style:'color:yellow;'},
            option_4:{style:'color:red;'},
            option_5:{style:'color:black;'}
        },
        selectradio:{
            cols_list_group_1:{class:'form-control'},

        }
      }"
      method="post"
      asp-action="CreateGenericForm"
      asp-antiforgery="true">
    <input class="btn btn-primary" type="submit" value="Sumit" />
    <a class="btn btn-danger" asp-action="Index" asp-controller="Home">
        Cancel
    </a>
</form>

@section scripts{
    <script>
        CKEDITOR.replace("TextArea");
    </script>
}