@model FormViewModel

<br />

<form generic form-model="@Model" asp-validation-summary="All"
      form-title="<h1>FormModel</h1>"
      class-input='{
        checkbox:"",
      }'
      class-form-group='{
          image:"test"
      }'
      attrs-validation-summary='{
        "class":"text-danger"
      }'
      attrs-validation-summary-ul='{
      }'
      attrs-form-group='{
        id:{
            test:"form-group"
        }
      }'
      attrs-label='{ 
        textbox:{
            class:"text-danger"
        }
      }'
      attrs-input='{
        selectradio:{
            class:"hello",
            style:"margin-left:10px;"
        },
        image:{
            class:""
        },
        textarea:{
            rows:"20",
            cols:"50",
        },
        checkbox:{
            style:"margin-left:10px;"
        }
      }'
      attrs-span='{
        emailtextbox:{
            style:"color:blue;"
        }
      }'

      attrs-all-form-group='{
        style:"border-color:green;" 
      }'
      attrs-all-input='{
        style:"border-color:#00ffff;" 
      }'
      attrs-all-label='{
        style:"color:#aaa333;"
      }'
      attrs-title="{
        style:'color:#000fff;'
      }"
      attrs-cancel-btn='{
        class:"btn btn-danger"
      }'
      attrs-submit-btn="{
        class:'btn btn-info'
      }"

      attrs-all-radio-btn-span='{
        selectradio:{
            style:"margin-left:10px;"
        }
      }'
      radio-button-data-list='{
        selectradio:{
            1:"male",
            2:"female"
        }
      }'
      method="post"
      cancel-link-return-action="Index"
      cancel-link-return-controller="Home"
      asp-action="CreateGenericForm"
      asp-antiforgery="true"></form>

@section scripts{
    <script>
        CKEDITOR.replace("TextArea");
    </script>
}