@model FormViewModel

<br />

<form generic form-model="@Model" asp-validation-summary="All"
      form-title="<h1>Form Title</h1>"
      select-data-list="{
        selectlist:{
            1:'Bronze',
            2:'Silver',
            3:'Gold',
            4:'Patiunm'
        },
        selectlist2:{
            1:'Bronze2',
            2:'Silver2',
            3:'Gold2',
            4:'Patiunm2'
        }
      }"
      radio-button-data-list="{
        selectradio:{
            1:'male',
            2:'female'
        }
      }"
      checkbox-data-list="{
        checkbox:{
            'checkbox label1': 'false',
            'checkbox label2':'false'
        }
      }"
      checkbox-cols-list="true"
      radio-cols-list="true"
      radio-left="true"

      attrs-global-tags="{
        validation:{
            style:'color:red;'
        },
        title:{
            style:'color:red;'
        }
      }"
      attrs-local-tag="{
        id:{
            label:{style:'color:green;'},
            input:{ style:'border-color:green;'}
        },
        selectradio:{
            radio_label_1:{style:'margin-right:5px;color:red;font-weight:normal;'},
            radio_label_2:{style:'color:red;font-weight:normal;'},
            radio_input_1:{style:'margin-right:5px;'},
            radio_input_2:{style:'margin-right:5px;'},
        },
        selectlist2:{
            input:{style:'border-color:red;'},
            option_3:{style:'color:red;'}
        },
        checkbox:{
            'checkbox_label_1':{
                style:'color:red;font-weight:normal',

            }
        },
      }"
      method="post"
      asp-action="CreateGenericForm"
      asp-antiforgery="true">
    <input class="btn btn-primary" type="submit" value="Sumit" />
    <a class="btn btn-danger" asp-action="Index" asp-controller="Home">
        Cancel
    </a>
</form>

@section scripts{
    <script>
        CKEDITOR.replace("TextArea");
    </script>
}