@model FormViewModel

<br />

<form generic form-model="@Model" asp-validation-summary="All"
      form-title="<h1>FormModel</h1>"
      class-input='{
      checkbox:"form-control ",
      checkbox:"",
      }'
     
      all-class-span="text-danger"
      attributes-validation-summary='{
        "class":"text-danger"
      }'
      attributes-validation-summary-ul='{
           style:"list-style-type:none;"
      }'
      attributes-input='{
        selectradio:{
            "class":"hello",
            style:"margin-left:10px;"
        },
        image:{
            class:""
        }
      }'
      radio-button-data-list='{
        selectradio:{
            1:"male",
            2:"female"
        }
      }'
      attributes-radio-btn-value='{
        selectradio:{
            style:"margin-left:10px;"
        }
      }'
      method="post"
      cancel-link-return-action="Index"
      cancel-link-return-controller="Home"
      asp-action="CreateGenericForm"
      asp-antiforgery="true">

</form>


