@model FormViewModel

<br />

<form generic form-model="@Model" asp-validation-summary="All"
      form-title="This is form"
      select-data-list="{
        selectlist:{
            0:'None',
            1:'Bronze',
            2:'Silver',
            3:'Gold',
            4:'Patiunm'
        },
        selectlist2:{
            1:'Bronze2',
            2:'Silver2',
            3:'Gold2',
            4:'Patiunm2'
        }
      }"
      radio-button-data-list="{
        selectradio:{
            1:'male',
            2:'female',
            3:'aaaa',
            4:'hello'
        }
      }"
      checkbox-data-list="{
        checkbox:{
            'hello': 'true',
            'world' : 'true'
        }
      }"
      method="post"
      asp-action="CreateGenericForm"
      asp-antiforgery="true">
    <input class="btn btn-primary" type="submit" value="Sumit" />
    <a class="btn btn-danger" asp-action="Index" asp-controller="Home">
        Cancel
    </a>
</form>

@section scripts{
    <script>
        CKEDITOR.replace("TextArea");
    </script>
}