@model FormViewModel

<br />

<form generic form-model="@Model" asp-validation-summary="All"
      form-title="<h1>FormModel</h1>"

      class-all-form-group=""
      class-all-input=""
      class-all-label=""
      class-all-span=""
      class-input='{
        checkbox:"",
      }'
      class-form-group='{
          image:"test"
      }'
      attrs-validation-summary='{
        "class":"text-danger"
      }'
      attrs-validation-summary-ul='{
           style:"list-style-type:none;"
      }'
      attrs-input='{
        selectradio:{
            class:"hello",
            style:"margin-left:10px;"
        },
        image:{
            class:""
        },
        textarea:{
            rows:"20",
            cols:"50",
        },
        checkbox:{
            style:"margin-left:10px;"
        }
      }'
      attrs-all-radio-btn-span='{
        selectradio:{
            style:"margin-left:10px;"
        }
      }'
      radio-button-data-list='{
        selectradio:{
            1:"male",
            2:"female"
        }
      }'
      method="post"
      cancel-link-return-action="Index"
      cancel-link-return-controller="Home"
      asp-action="CreateGenericForm"
      asp-antiforgery="true"></form>

@section scripts{
    <script>
        CKEDITOR.replace("TextArea");
    </script> 
}