
<hr/>
<a class="btn btn-primary" asp-controller="Home" asp-action="CreateGenericForm">Go to generic form</a>
<a class="btn btn-default" asp-controller="Home" asp-action="CreateNormalForm">Go to normal form </a>
